<h1>Hackathons</h1>
<form action="/hackathons/new" method="POST">
  <input type="text" name="name" placeholder="Hackathon Name">
  <textarea name="description" placeholder="Describe your hackathon here"></textarea>
  <input type="email" name="contact" placeholder="Contact Email">
  <button type="submit">Post Hackathon</button>
</form>
